[submodule "zsh/custom/plugins/zsh-autopair"]
	path = zsh/custom/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/custom/themes/powerlevel10k"]
	path = zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "nvim/src/cbonsai"]
	path = nvim/src/cbonsai
	url = https://gitlab.com/jallbrit/cbonsai.git
[submodule "nvim/src/lavat"]
	path = nvim/src/lavat
	url = https://github.com/AngelJumbo/lavat.git
[submodule "nvim/src/cxxmatrix"]
	path = nvim/src/cxxmatrix
	url = https://github.com/akinomyoga/cxxmatrix.git
